@{
    ViewBag.Title = "欢迎使用任务管理系统";
    ViewBag.Message = "登陆";
}

@using (Html.BeginForm()){
    <div class="login">    
        <table class="login">
            <tr><td colspan = "2">
            @if (ViewBag.ErrorMessage != null)
            {
                <span style="color:Red">@ViewBag.ErrorMessage</span>
            }
            </td></tr>
            <tr><td>用户名：</td><td>@Html.TextBox("Name")</td></tr>
            <tr><td>密码：</td><td>@Html.Password("PassWord")</td></tr>
            <tr><td colspan = "2"><input type="submit" id="submit" value="登陆" /></td></tr>
        </table>
    </div>
}
